<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kimbaudi.fabflix.moviequiz"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="15" />

    <application
        android:name="kimbaudi.fabflix.moviequiz.App"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="kimbaudi.fabflix.moviequiz.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="kimbaudi.fabflix.moviequiz.QuizActivity" />
        <activity
            android:name="kimbaudi.fabflix.moviequiz.StatisticsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
    </application>

</manifest>